* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin-right: 1rem;
    list-style: none;
  }
  
  nav ul li a {
    color: #0070C0;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  #presentation {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  button.en-savoir-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Ajoutez d'autres styles pour les sections Qui suis-je, BTS SIO, etc. */
  .livre {
    width: 80px;
    height: 100px;
    background-color: #f4f4f4;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .livre-bouton {
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .livre {
      width: 60px;
      height: 80px;
      font-size: 14px;
    }
  }
  